.number {
  margin-right: 0.6em;
  font-size: 0.7em;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  font-family: "Courier New", monospace;
}

.label {
  font-size: 0.4em;
  margin-left: 0.3em;
}
