.container {
  font-size: 1.6em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

.breadcrumb {
  max-width: 8em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  opacity: 0.5;
  color: #ccc;
}

.container.isSubscriber {
  color: #fff;
  opacity: 1;
}

.container.isGift {
  color: rgb(192,255,0);
  opacity: 1;
}
