.container {
  display: flex;
  flex-direction: column;
}

.data {
  font-size: 0.6em;
}

.unit {
  margin-right: 0.1em;
  font-size: 0.6em;
}

.status {
  font-size: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list {
  font-size: 1.2em;
}
