<div class="container">
  <div *ngFor="let _ of [worker.stats.giftTotal]" [@new]="'new'" class="status">
    <div class="data">
      <ng-number-view label="cur" [number]="worker.status.room.activeUserCount"></ng-number-view>
      <ng-number-view label="avg" [number]="worker.stats.avgActiveUser"></ng-number-view>
    </div>
    <div class="price">
      <span class="unit">{{i18n.common.priceUnit}}</span>
      <span>{{worker.stats.giftTotal / 100}}</span>
    </div>
  </div>
  <div class="list">
    <div *ngFor="let v of worker.pool.giftTotalStream.slice(0, 5)">
      <span>{{i18n.comments.VideoLivePresentMessage(v.user.name, v.gift.count, v.gift.name)}}</span>
    </div>
  </div>
</div>
