<div class="container">
  <div *ngFor="let _ of [worker.stats.giftTotal]" [@new]="'new'" class="status">
    <div class="data">
      <ng-number-view [label]="i18n.common.labels.current" [number]="worker.status.room.activeUserCount"></ng-number-view>
      <ng-number-view [label]="i18n.common.labels.average" [number]="worker.stats.avgActiveUser"></ng-number-view>
      <ng-number-view [label]="worker.config.badge" *ngIf="worker.status.room.followerInfo" [number]="worker.status.room.followerInfo.count"></ng-number-view>
    </div>
    <div class="data">
      <ng-number-view [right]="true" [label]="i18n.common.priceUnit" [number]="numberCompact(worker.stats.giftTotal / 100)"></ng-number-view>
    </div>
  </div>
  <div class="list">
    <div *ngFor="let v of worker.pool.giftTotalStream.slice(0, 5)">
      <span>{{i18n.comments.VideoLivePresentMessage(v.user.name, v.gift.count, v.gift.name)}}</span>
    </div>
  </div>
</div>
