<div class="container">
  <div *ngFor="let _ of [worker.stats.giftTotal]" [@new]="'new'" class="status">
    <div>
      <span class="data">{{numeral(worker.status.room.activeUserCount).format('0.0a')}}</span>
      <span class="data"> / avg. {{numeral(worker.stats.avgActiveUser).format('0.0a')}}</span>
    </div>
    <div>
      <span class="unit">{{i18n.common.priceUnit}}</span>
      <span>{{worker.stats.giftTotal / 100}}</span>
    </div>
  </div>
  <div class="list">
    <div *ngFor="let v of worker.pool.giftTotalStream.slice(0, 5)">
      <span>{{i18n.comments.VideoLivePresentMessage(v.user.name, v.gift.count, v.gift.name)}}</span>
    </div>
  </div>
</div>
