.comment-box {
  display: flex;
  flex-direction: column-reverse;
  font-size: 2em;
  justify-content: flex-end;
  flex: 1;
}

.comment-box-container {
  display: flex;
}

.align-r {
  text-align: right
}
