<ng-offline-overlay *ngIf="!worker.status.isLive"></ng-offline-overlay>
<div class="container">
  <ng-gift [worker]="worker"></ng-gift>
  <div>
    <div *ngFor="let v of worker.pool.other.slice(0, 3)">
      <ng-info [chat]="v"></ng-info>
    </div>
  </div>
  <div class="comment-box">
    <div *ngFor="let v of worker.pool.comment.slice(0, 300)">
      <ng-chat [badge]="i18n.comments.badge(v.user.level, v.user.brand)"
               [breadcrumb]="i18n.comments.breadcrumb(v.user.name, v.user.prefix)"
               [content]="v.content"
      ></ng-chat>
    </div>
  </div>
</div>
