.comment-box {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: flex-start;
  flex: 1;
  overflow: scroll-y;
}

.comment-box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > * {
    margin-bottom: 0.5em;
  }
}

.align-r {
  text-align: right
}
