.comment-box {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: flex-start;
  flex: 1;
  max-height: 100%;
  overflow: visible scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  mask-image: linear-gradient(0deg, transparent 10%, white 30%);

  & > * {
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.align-r {
  text-align: right
}

.broadcasts {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}
