.container {
  font-size: 1.6em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.breadcrumb {
  max-width: 8em;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.container.isSubscriber {
  color: #9cf;
}
