.container {
  font-size: 1.6em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.breadcrumb {
  font-size: 0.6em;
  max-width: 8em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 0.95em;
}
